.infoCOntainer{
    min-height: 120px;
    min-width: 105px;
    background-color: azure;
}
.searchContainer{
    margin: 10px 0;
    padding: 10px 5px;
    border: .5px solid gray;
    border-radius: 2px;
    background-color: rgb(246, 252, 252);
}
.serviceCarrier1{
    padding: 12px 5px;
    border: .5px solid gray;
    border-radius: 2px;
    background-color: rgb(246, 252, 252);
}

.theFormSelect{
    max-width: 40%;
}